@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Sedgwick+Ave+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: aliceblue;
}

img{
    display: block;
}

body{
    font-size:14px;
    background-color: #151515;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    min-width: 340px;
}

@media (max-width: 1290px){

    body{
        font-size:12px;
    }
}
