@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Sedgwick+Ave+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: aliceblue;
}

img{
    display: block;
}

body{
    font-size:14px;
    background-color: #151515;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    min-width: 340px;
}

.logo-box{
    display: flex;
    column-gap: 5px;
}

.loading-box{
    position: fixed;
    bottom: 2vh;
    left: calc(50% - 32px);
    z-index: 1000;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {
      transform: ratate(0);
    }
  
    to {
      transform: rotate(360deg);
    }
}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    height: 90px;
    padding: 0 5%;
    background-color:rgba(255,255,255,0.1);
    position: fixed;
    z-index: 100;

    .logo{
        font-size:3.2rem;
        font-family: 'Sedgwick Ave Display';
        color: #f9d922;

        &:hover{
            text-shadow: 0px 0px 30px #fff;
        }
    }

    .link{
        background-color:#f9d922;
        color: #222;
        padding:8px 10px;
        border-radius: 8px;
        opacity: .9;

        &:hover{
            opacity: 1;
        }
    }
}

.layout{
    width: 1280px;
    margin: 0 auto;
    padding:120px 0;
    overflow: hidden;
    
    .sort-panel{
        height: 90px;
        align-items: center;
        column-gap: 10px;
        display: grid;
        grid-template-columns: 200px 200px 200px 1fr;

        .date{
            position: relative;
            border-radius: 15px;
            padding:10px 20px;
            background-color: rgba(255,255,255,0.1);
            color: aliceblue;
            font-size: 1.2rem;
            cursor: pointer;

            span{
                pointer-events: none;
            }

            .icon{
                position: relative;
                top:2px;
                left: 5px;
            }
        }

        .raite{
            position: relative;
            border-radius: 15px;
            padding:10px 20px;
            background-color: rgba(255,255,255,0.1);
            color: aliceblue;
            font-size: 1.2rem;
            cursor: pointer;

            span{
                pointer-events: none;
            }

            .icon{
                position: relative;
                top:2px;
                left: 5px;
            }
        }

        .platform{
            flex-basis: 180px;
            border-radius: 15px;
            padding:10px 20px;
            background-color: rgba(255,255,255,0.1);
            color: aliceblue;
            font-size: 1.2rem;
            cursor: pointer;
            display: flex;
            position:relative;

            &.active{
                background-color:#fff;
                color:#222;
            }

            .icon{
                position: relative;
                top:1px;
                left: -5px;
            }

            .platform-items-box{
                width: 100%;

                & > p{
                    font-size:1rem;
                    position: relative;
                    top:2px;
                    left:10px;
                }

                .platform-items-value{
                    position:relative;
                }

                .platform-items-list{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    background: #fff;
                    color:#222;
                    position: absolute;
                    border-radius: 8px;
                    overflow: hidden;
                    z-index: 100;
                    left: 0;
                    top: 0;

                    .platform-clear{
                        padding: 5px 10px;
                        font-size: .9rem;
                        cursor: pointer;
                        transition: background 0.5s ease-in-out;
                        border-bottom: 1px solid #222;
                        display: flex;
                        align-items: center;
                        justify-content:space-between;

                        &:hover{
                            background: rgba(0,0,0,0.1);
                        }
                    }

                    p{
                        padding: 5px 10px;
                        font-size: .9rem;
                        cursor: pointer;
                        transition: background 0.5s ease-in-out;
                    
                        &:hover{
                            background: rgba(0,0,0,0.1);
                        }
                    }
                }
            }
        }

        .search{
            position: relative;
            flex-grow: 1;
            transition: all .5s ease-in-out;
            border-radius: 15px;
            padding:10px 20px;
            background-color: rgba(255,255,255,0.1);
            color: aliceblue;
            font-size: 1.2rem;
            cursor: pointer;

            &:hover{
                background-color:rgba(255,255,255,1);
                color: #222222;
            }

            &:hover > .icon{
                color: #222222;    
            }

            &:hover .text::placeholder{
                color: #222222;
            }

            &:hover .text{
                color: #222222;
            }

            .icon{
                position: relative;
                top:2px;
                left: -5px;
            }

            .text{
                position:absolute;
                bottom:0;
                left: 40px;
                width:90%;
                height:100%;
                border: none;
                background: transparent;
                outline: none;
                color: #fff;
                font-size:1.2rem;

                &::placeholder{
                    color: #fff;
                }
            }

            label{
                position:absolute;
                bottom: 6px;
                right:15px;
            }

            .press{
                font-size:.9rem;
                padding:5px 10px;
                color: rgba(255,255,255,0.2);
                border-radius: 3px;
                border: 1px solid rgba(255,255,255,0.2);
            }

            .remove{
                bottom: 5px;
                cursor: pointer;
            }
        }
    }    
    
    .games-catalog{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap:20px;

        .games-catalog-item{
            width: 600px;
            border-radius: 20px;
            border: 1px solid #222;
            overflow: hidden;
            cursor: pointer;

            &:hover > .game-description-box{
                background-color: rgba(255,255,255,0.2); 
            }

            .game-image-box{
                width: 600px;
                height:400px;
                position: relative;
                overflow: hidden;
            }

            .game-description-box{
                background-color: rgba(255,255,255,0.1);
                transition: background-color .4s;
                padding:10px 20px;

                .game-name{
                    font-weight: 700;
                    font-size: 1.8rem;
                }

                .game-character{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    font-size: .9rem;
                    color: #f9d922;
                }
            }    
        }    
    }

    .game-item-container{
        display: flex;
        gap: 20px;

        .game-item-slider{
            width: 50%;
        }

        .game-item-description{
            padding: 20px 0;

            h3{
                font-weight: 700;
                font-size: 1.8rem;
            }

            p{
                margin-top: 40px;
                font-size:1.2rem;
                letter-spacing: 1px;
            }

            .date{
                font-size: .9rem;
                color: #f9d922;
                margin: 5px 0;
            }

            .rating{
                font-size: .9rem;
                color: #f9d922;
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 1290px){

    body{
        font-size:12px;
    }

    .layout{
        width: 990px;
        margin: 0 auto;
        padding:120px 0;
        overflow: hidden;

        .sort-panel{
            height: 90px;
            align-items: center;
            column-gap: 10px;
            display: grid;
            grid-template-columns: 180px 180px 180px 1fr;

        }

        .games-catalog{

            .games-catalog-item {
                width: 460px;
                border-radius: 20px;
                border: 1px solid #222;
                overflow: hidden;
                cursor: pointer;

                .game-image-box {
                    width: 460px;
                    height: 380px;
                    position: relative;
                    overflow: hidden;
                }

                .game-description-box{
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 120px;
                    overflow: hidden;

                    .game-name {
                        font-weight: 700;
                        font-size: 1.6rem;
                    }
                }
            }
        }    
    }    
}

@media (max-width: 992px){

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 0 5%;
        background-color: rgba(255, 255, 255, 0.1);
        position: fixed;
        z-index: 100;

        .logo {
            font-size: 2.4rem;
            font-family: "Sedgwick Ave Display";
            color: #f9d922;
        }
    }

    .layout{
        width: 760px;
        margin: 0 auto;
        padding:90px 0;
        overflow: hidden;

        .sort-panel{
            height: auto;
            align-items: center;
            gap: 10px;
            display: grid;
            grid-template-areas: "date raite platform"  
                       "search search search"; 
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            margin-bottom: 40px;

            .date{
                grid-area: date;
            }

            .raite{
                grid-area: raite;
            }

            .platform{
                grid-area: platform;
            }

            .search{
                grid-area: search;
            }
        }

        .games-catalog{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .games-catalog-item {
                width: 460px;
                border-radius: 20px;
                border: 1px solid #222;
                overflow: hidden;
                cursor: pointer;

                .game-image-box {
                    width: 460px;
                    height: 380px;
                    position: relative;
                    overflow: hidden;
                }

                .game-description-box{
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 120px;
                    overflow: hidden;

                    .game-name {
                        font-weight: 700;
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .game-item-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .game-item-slider {
                width: 100%;
            }
        }
    }    
}

@media (max-width: 768px){
    .layout{
        width: 460px;
        margin: 0 auto;
        padding:90px 0;
        overflow: hidden;

        .sort-panel{
            height: auto;
            align-items: center;
            gap: 10px;
            display: grid;
            grid-template-areas: "date raite"
                        "platform platform"  
                        "search search"; 
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            margin-bottom: 40px;
        }    
    }    
}

@media (max-width: 480px){
    .layout{
        width: 340px;
        margin: 0 auto;
        padding:90px 0;
        overflow: hidden;

        .sort-panel{
            height: auto;
            align-items: center;
            gap: 10px;
            display: grid;
            grid-template-areas: "date" "raite" "platform"  "search"; 
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            margin-bottom: 40px;
        }
        
        .games-catalog {
            .games-catalog-item {
                width: 340px;
                border-radius: 20px;
                border: 1px solid #222;
                overflow: hidden;
                cursor: pointer;

                .game-image-box {
                    width: 340px;
                    height: 280px;
                    position: relative;
                    overflow: hidden;
                }

                .game-description-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 125px;
                    overflow: hidden;

                    .game-name {
                        font-weight: 700;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }    
}